* {
    margin: 0;
    box-sizing: border-box;
}
body {
    margin-left: 5%;
    margin-right: 5%;
}
.header, .footer {
    background-color: #791e49;
}


#header-name {
    color: white ;
    font-family: 'Allegro', serif;
    font-size: 3vw;
}

.header-content {
    background-color: #791e49;
    color: white ;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 1vw;
}
.nav-list {
    list-style: none;
}

.nav-items {
    background-color: #dc619a; 
    border: solid brown 2px;   
}

nav {
    background-color:#7e3946;
}

main {
    background-color: #bcb4b5;
    height: 100vh;
    
}

.main-header{
    color: white;
}

.footer {
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.footer-text {
    color: white;
}

/* Keeps the "Credit" hyperlink white after clicked */
a {
    color: white;
    text-decoration: none;
}

h4 {
    color: brown;
}
