* {
    margin: 0;
    box-sizing: border-box;   
}
body {
    margin-left: 5%;
    margin-right: 5%;
}
.header, .footer {
    background-color: #791e49;
}


#header-name {
    color: white ;
    font-family: 'Allegro', serif;
    font-size: 3vw;
}

.header-content {
    background-color: #791e49;
    color: white ;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 1vw;
}
.nav-list {
    list-style: none;
    max-width: max-content;
    padding-left: 0;
}

.nav-items {
    background-color: #dc619a; 
    border: solid brown 2px;  
    font-size: 1vw; 
    padding: 0.5vw;
    display: inline

}

nav {
    background-color:#7e3946;
    padding-top: 1vw;
    padding-bottom: 1vw ;
}

main {
    background-color: #bcb4b5;
    height: 100vh;
}

.main-header{
    color: white;
}

.resume-img {
    max-width: 100%;
}

/* To keep the hyperlinks in bio black instead of purple after clicked */
#main-bio {
    color: black;
}
.footer {
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.footer-text {
    color: white;
}

/* Keeps the "Credit" hyperlink white after clicked */
a {
    color: white;
    text-decoration: none;
}
